<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧旅游工程人才培养平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{url_for('static',filename = 'base/images/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'admin/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'fonts/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'ionicons/css/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'admin/dist/css/AdminLTE.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'admin/dist/css/skins/_all-skins.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'admin/plugins/datepicker/datepicker3.css')}}">
    <style>
        *{
            font-family:"Microsoft YaHei";
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            vertical-align:middle;
            text-align:center;
        }
        .outline{
			margin-top: 5px;
			display: flex;
			margin-left: 5px;
		}
		.outline_item{
			background-color: rgba(100,100,100,0.1);
			margin-right: 20px;
			flex: 1;
			padding: 10px;
				}

    </style>
    {% block css %}
    {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="{{url_for('admin.index')}}" class="logo">
            <span class="logo-mini"><img src="{{url_for('static',filename='base/images/logo.png')}}" style="height:40px;width:40px;">管理系统</span>
            <span class="logo-lg"><img src="{{url_for('static',filename='base/images/logo.png')}}" style="height:40px;width:40px;">智慧旅游工程人才培养平台</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">下拉菜单</span>

            </a>
            <div style="display: inline-block;padding-top:15px;color:white;" id="Date"></div>
            <script type="text/javascript">
			(function() {
				function TodayInfo(start) {
					var WEEKLEN = 7, // 一周7天为常量
						WEEKDAYS = ["日", "一", "二", "三", "四", "五", "六"],
						weekInfo = {
							"week": null,
							"day": null
						}, // 初始化返回信息，默认第null周，星期null
						oneDay = 24 * 60 * 60 * 1000, // 一天的毫秒时长
						weekLeave, // 开学当天所在周剩余天数
						weekStart, // 开学当天start是星期几
						today, // 今天
						dateDiff, // 今天与开学当天日期差
						sDate; //开学之日，日期对象
					var rDateStr = /\d{4}[\/-]\d{1,2}[\/-]\d{1,2}/g; // 简单的日期格式校验：2013/12/19
					if(!rDateStr.test(start)) {
						alert("请使用合法的开学日期！！！");
						return weekInfo;
					}
					sDate = new Date(start.replace("-", "/"));
					weekStart = sDate.getDay();
					weekStart = weekStart === 0 ? 7 : weekStart; // JS中周日的索引为0，这里转换为7，方便计算

					weekLeave = WEEKLEN - weekStart;
					today = new Date();
					weekInfo.day = WEEKDAYS[today.getDay()];
					today = new Date(today.getFullYear() + "/" + (today.getMonth() + 1) + "/" + today.getDate());
					dateDiff = today - sDate;
					if(dateDiff < 0) {
						alert("别开玩笑了，你还没开学呢！！！");
						return weekInfo;
					}
					dateDiff = parseInt(dateDiff / oneDay);
					weekInfo.week = Math.ceil((dateDiff - weekLeave) / WEEKLEN) + 1;
					return weekInfo;
				}

				function Time() {
					var date = new Date();
					var year = date.getFullYear(); //获取当前年份
					var mon = date.getMonth() + 1; //获取当前月份
					var da = date.getDate(); //获取当前日
					var day = date.getDay(); //获取当前星期几
					var h = date.getHours(); //获取小时
					var m = date.getMinutes(); //获取分钟
					var d = document.getElementById('Date');
					td = TodayInfo("2020/02/24");
					d.innerHTML = year + '年' + mon + '月' + da + '日' + ' ' + '星期' + td.day + " " + "第" + td.week + "周";
				}
				Time()

			})();
		</script>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{url_for('static',filename='admin/dist/img/user2-160x160.jpg')}}"
                                 class="user-image" alt="User Image">
                            <span class="hidden-xs">lyj</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{url_for('static',filename='admin/dist/img/user2-160x160.jpg')}}"
                                     class="img-circle" alt="User Image">
                                <p>
                                    lyj
                                    <small>2020-04-26</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{url_for('admin.pwd')}}" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{url_for('admin.login')}}" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{url_for('static',filename='admin/dist/img/user2-160x160.jpg')}}" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>用户lyj</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        {% include "admin/grid.html" %}
        </section>
    </aside>
    <div class="content-wrapper">
    <!--内容-->
        {% block content %}
        {% endblock %}
    <!--内容-->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>版本</b> 1.0
        </div>

    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="{{url_for('static',filename = 'admin/plugins/jQuery/jQuery-2.2.0.min.js')}}"></script>
<script src="{{url_for('static',filename = 'admin/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename = 'admin/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static',filename = 'admin/plugins/fastclick/fastclick.js')}}"></script>
<script src="{{url_for('static',filename = 'admin/dist/js/app.min.js')}}"></script>
<script src="{{url_for('static',filename = 'admin/dist/js/demo.js')}}"></script>
<script src="//cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<script src="{{url_for('static',filename = 'admin/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
<script src="{{url_for('static',filename = 'admin/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js')}}" charset="UTF-8"></script>
{% block js %}
{% endblock %}
</body>
</html>