{% extends "admin/cmodules.html" %}
{% import "ul/admin_page.html" as pg %}
{% block list %}
<div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>编号</th>
                            <th>模块名称</th>
                            <th>课程代码</th>
                            <th>课程名称</th>
                        </tr>

                        {% for v in page_data.items %}
                        <tr>
                            <td>{{v.id}}</td>
                            <td>{{v.name}}</td>
                            <td>{{v.cno}}</td>
                            <td>{{v.cname}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ pg.page(page_data,'admin.cmodules_list') }}
                </div>
{% endblock %}
