{% extends "admin/admin.html" %}
{% import "ul/admin_page.html" as pg %}
{% block content %}
<section class="content-header">
    <h1>智慧旅游工程人才培养平台</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 基础数据管理</a></li>
        <li class="active">竞赛管理</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">竞赛管理</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm">
                            <a href="{{url_for('admin.competition_add')}}"class="btn btn-default">添加竞赛</i></a>
                        </div>
                    </div>

                </div>
                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> 操作成功!</h4>
                    {{ msg }}
                </div>
                {% endfor %}
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>竞赛全称</th>
                            <th>竞赛简称</th>
                            <th>主办单位</th>
                            <th>承办单位</th>
                            <th>协办单位</th>
                            <th>链接</th>
                            <th>操作事项</th>
                        </tr>
                        {% for i in page_data.items %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.af_name}}</td>
                            <td>{{i.organizer}}</td>
                            <td>{{i.undertaker}}</td>
                            <td>{{i.co_organizer}}</td>
                            <td><a href="{{i.url}}">链接</a></td>
                            <td style="width:12%" >
                                <a href="{{url_for('admin.competition_edit',id = i.id)}}"
                                   class="label label-success">编辑</a>
                                &nbsp;
                                <a href="{{url_for('admin.competition_del',id = i.id)}}"
                                   class="label label-danger">删除</a>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ pg.page(page_data,'admin.competition_list') }}
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block js %}

<script>
    $(document).ready(function(){
    $("#g-9").addClass("active");
    $("#g-9-5").addClass("active");
    })





</script>
{% endblock %}