{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>智慧旅游工程人才培养平台</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">概况</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row outline">
				<div class="outline_item">
					<h1>123</h1>
					<p>在校生</p>
				</div>
				<div class="outline_item">
					<h1>5</h1>
					<p>已毕业学生</p>
				</div>
				<div class="outline_item">
					<h1>45</h1>
					<p>师资人数</p>
				</div>
				<div class="outline_item">
					<h1>67</h1>
					<p>科研项目</p>
				</div>
			</div>
			<div class="row outline">

				<div class="outline_item">
					<h1>876</h1>
					<p>教研项目</p>
				</div>
				<div class="outline_item">
					<h1>123</h1>
					<p>课程</p>
				</div>
				<div class="outline_item">
					<h1>789</h1>
					<p>学生成果</p>
				</div>
				<div class="outline_item">
					<h1>--</h1>
					<p>文献</p>
				</div>
			</div>
</section>
{% endblock %}

{% block js %}
<script src="{{url_for('static',filename='js/echarts.min.js')}}"></script>
<script>
    var myChart = echarts.init(document.getElementById('meminfo'));
    option = {
		backgroundColor: "white",
		tooltip: {
			formatter: "{a} <br/>{b} : {c}%"
		},
		toolbox: {
			feature: {
				restore: {},
				saveAsImage: {}
			}
		},
		series: [{
			name: '内存使用率',
			type: 'gauge',
			detail: {
				formatter: '{value}%'
			},
			data: [{
				value: 50,
				name: '内存使用率'
			}]
		}]
	};
    setInterval(function () {
        option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
        myChart.setOption(option, true);
    },2000);

</script>
<script>
    $(document).ready(function(){
    $("#g-1").addClass("active");
    $("#g-1-1").addClass("active");
    })

</script>
{% endblock %}