{% extends "admin/students.html" %}

{%block list%}
<div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>班级</th>
                            <th>学院</th>
                            <th>专业</th>
                            <th>操作事项</th>
                        </tr>
                        {% for v in page_data.items %}
                        <tr>
                            <td>{{v.sno}}</td>
                            <td>{{v.sname}}</td>
                            <td>{{v.ssex}}</td>
                            <td>{{v.sclass}}</td>
                            <td>{{v.scollege}}</td>
                            <td>{{v.smajor}}</td>
                            <td>
                                <a class="label label-success" href="user_view.html">查看</a>
                                <a class="label label-danger">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ pg.page(page_data,'admin.students_list') }}
                </div>

{% endblock %}