{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>智慧旅游工程人才培养平台</h1>
    <ol class="breadcrumb">
        <li><a href="{{url_for('admin.teachingr_list',page=1)}}"><i class="fa fa-dashboard"></i> 教研成果</a></li>
        <li class="active">添加</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加</h3>
                </div>
                <form role="form" method="post" enctype="multipart/form-data" action="{{url_for('admin.teachingr_add')}}">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">项目名称</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="项目名称！">
                        </div>
                        <div class="form-group">
                            <label for="t_name">主持人姓名</label>
                            <input type="text" name="t_name" class="form-control" id="t_name" placeholder="主持人姓名！">
                        </div>
                        <div class="form-group">
                            <label for="level">级别</label>
                            <input type="text" name="level" class="form-control" id="level" placeholder="级别！">
                        </div>
                        <div class="form-group">
                            <label for="t_num">参与教师数</label>
                            <input type="text" name="t_num" class="form-control" id="t_num"
                                   placeholder="参与教师数！">
                        </div>
                        <div class="form-group">
                            <label for="funds">项目经费(万元)</label>
                            <input type="text" name="funds" class="form-control" id="funds"
                                   placeholder="项目经费！">
                        </div>
                        <div class="form-group">
                            <label for="number">立项编号</label>
                            <input type="text" name="number" class="form-control" id="number"
                                   placeholder="立项编号！">
                        </div>

                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}



<script>
    $(document).ready(function(){
    $("#g-6").addClass("active");
    $("#g-6-3").addClass("active");
    })



</script>
{% endblock %}